@tile-vertical-gap: 50px;
@tile-image-size: 120px;

#content {
  padding-top: @tile-vertical-gap;
}

.tile {
  height: 380px;
  width: 300px;
  border-radius: 20px;
  border: 2px solid @mzk-text-gray;
}

@media (max-width: @screen-xs-min) {
  .tile {
    margin-bottom: @tile-vertical-gap;
  }
}

.tile-image {
  width: @tile-image-size;
  height: @tile-image-size;
}

.tile-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.browser-image-mixin(@image-url) {
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: @tile-image-size;
  background-image: url(@image-url);
}

#library-image {
  .browser-image-mixin('library.png');
}

#archive-image {
  .browser-image-mixin('webArchive.png');
}

.tile-hover(@image-selector, @image-url, @color) {
  &:hover, &:focus {
    color: @color;
    border-color: @color;
    cursor: pointer;
    #@{image-selector} {
      background-image: url(@image-url);
    }
  }
}

#archive-tile {
  .tile-hover(archive-image, 'webArchiveHover.png', @mzk-text-webarchiv);
}

#library-tile {
  .tile-hover(library-image, 'libraryHover.png', @mzk-green);
}


